# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
.venv/

# Ignore all data except indexes (needed for Hugging Face deployment)
data/*
!data/indexes/
!data/indexes/**

# Allow DVC metadata (optional for future)
!data/*.dvc
!data/.gitignore

# Prevent mlflow artifacts and raw data from being tracked
mlruns/


# OS / editor
.DS_Store
*.log
.vscode/
.idea/

junk_notes.ipynb
# Local artifacts
artifacts/